appdirs==1.4.4
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
azure-common==1.1.26
azure-core==1.10.0
azure-identity==1.5.0
azure-keyvault-secrets==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
cryptography==3.3.1
distlib==0.3.1
Django==2.1.15
django-cors-headers==3.1.1
django-crequest==2018.5.11
django-environ==0.4.5
django-pyodbc-azure==2.1.0.0
django-restframework==0.0.1
djangorestframework
et-xmlfile==1.0.1
filelock==3.0.12
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
jdcal==1.4.1
msal==1.8.0
msal-extensions==0.3.0
msrest==0.6.19
numpy==1.19.5
oauthlib==3.1.0
openpyxl==3.0.6
packaging==20.8
pandas
pluggy==0.13.1
portalocker==1.7.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
py==1.10.0
pycparser==2.20
PyJWT==1.7.1
pyodbc==4.0.30
pyparsing==2.4.7
pytest==6.2.1
pytest-datadir==1.3.1
pytest-django==4.1.0
pytest-ordering==0.6
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
SQLAlchemy==1.3.22
sqlparse==0.4.1
toml==0.10.2
tox==3.21.2
urllib3==1.26.2
virtualenv==20.4.0
xlrd==1.2.0
